<div class="rounded-xl border bg-[url('assets/usuario.jpg')] w-96">

    <div class=" flex justify-end items-end h-56">
        <p class="">Games</p>
    </div>

    <div class="h=2/3 rounded-b-xl bg-white ">
        
        <div class="flex items-center gap-3.5 ">
            <img class="w-14 h-14 rounded-full" src="assets/usuario.jpg" alt="">
            <div class="text-neutral-500/80">
                <p class="text-xl">Olivia Rhye</p>
                <p class="text-lg">oliviauntitledui.com</p>
            </div>
        </div>

        <div>
            <p>Comprar um ps5</p>
            <p>Meu PS2 queimou e preciso comprar um novo, falta R$5000 para comprar um novo</p>
        </div>

    </div>

</div>
