<div class=" border rounded-xl w-96 m-10 flex flex-col justify-center items-center cursor-pointer">
    <!--Imagem do Help-->
    <div class=" flex justify-end items-end static w-full">
        <img class="w-full h-56 rounded-t-xl bg-cover" src={{data()?.image}} alt="">
        <p class="absolute bg-[#ffe2e7] text-[#ce024c] text-xs rounded-xl p-2 m-2">{{data()?.type}}</p>
    </div>

    <div class="w-full">
        <!--Informações do Criador do help-->
        <div class="flex items-center gap-3.5 m-5">
            <img class="w-8 h-8 rounded-full" src={{data()?.author?.image}} alt="">
            <div class="text-neutral-500/80">
                <p class="text-sm">{{data()?.author?.name}}</p>
                <p class="text-xs">{{data()?.author?.email}}</p>
            </div>
        </div>
        <!--Descrição do help-->
        <div class="m-5">
            <p class="text-2xl text-neutral-900 font-medium">{{data()?.title}}</p>
            <p class="text-base text-neutral-600 line-clamp-2">{{data()?.description}}</p>
        </div>
        <!--Apoiadores do help-->
        <div class="flex justify-start static h-[40px]">        
            @for (item of data()?.supporters; track $index;) {
                <div class="ml-[20px]">
                    @if ($index < 10) {
                        <img class="w-8 h-8 rounded-full absolute overflow-hidden border-2 border-white" src={{item}} alt="">
                    }@else if ($index == 10) {
                        <div class="w-8 h-8 rounded-full border-2 border-white absolute bg-[#fff0f3] text-[#ff648e] flex justify-center items-center">+{{data()?.supporters?.length! - 10}}</div> 
                    }
                </div>
            }
        </div>

    </div>

</div>
