<body>
    
    <app-header></app-header>

    <div>
        <!--Tela de apresentação do site-->
            <app-banner-apresentation></app-banner-apresentation>
        <!--Tela de instruções do site-->
            <ul class="flex justify-between w-full h-full ">
                <li class="flex items-center w-1/4">
                    <p>1.</p>
                    <div>
                        <p>Escolha</p>
                        <p>Escolha um helpinho que deseja ajudar</p>
                    </div>
                </li>
                <li class="flex items-center w-1/4">
                    <p>1.</p>
                    <div>
                        <p>Escolha</p>
                        <p>Escolha um helpinho que deseja ajudar</p>
                    </div>
                </li>
                <li class="flex items-center w-1/4">
                    <p>1.</p>
                    <div>
                        <p>Escolha</p>
                        <p>Escolha um helpinho que deseja ajudar</p>
                    </div>
                </li>
                <li class="flex items-center w-1/4">
                    <p>1.</p>
                    <div>
                        <p>Escolha</p>
                        <p>Escolha um helpinho que deseja ajudar</p>
                    </div>
                </li>
            </ul>
        <!--Pesquisa dos helps-->

        <!--Helps-->
    </div>

    <app-footer></app-footer>
</body>
