<body class="">
    
    <app-header></app-header>

    <!--Tela de apresentação do site-->
        @if (true) {
            <app-banner-apresentation></app-banner-apresentation>
        } @else {
            <p>banner descrição</p>
        }

    <div class="w-full h-full p-5">
        <!--Tela de instruções do site-->
        <ul class="flex justify-center items-center w-full h-full ">
            <!--Um for para diminuit o código usando um array simples-->
            @for (instruction of instructions; track $index) {
                <li class="flex items-center w-1/4">
                    <p>{{$index+1}}.</p>
                    <div>
                        <p>{{instruction.title}}</p>
                        <p>{{instruction.description}}</p>
                    </div>
                </li>
            }
        </ul>
        <!--Pesquisa dos helps-->
        
        <!--Helps-->
        <div class=" grid grid-cols-3 ">
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
    
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
        </div>
    </div>

    <app-footer></app-footer>
</body>
