<body class="">
    <!--Header-->
    <app-header [loginStatus]="loginStatus"/>

    <!--Tela de apresentação do site(Banner)-->
    <app-banner [loginStatus]="loginStatus" [userInfo]="userInfo"/>

    <!--Tela de instruções do site-->
    <ul class="flex justify-center my-20">
        <!--Um for para diminuit o código usando um array simples-->
        @for (instruction of instructions; track $index) {
            <li class="flex justify-center items-center w-[256px] mx-10">
                <p class="text-[#ff2e6b] text-[40px] pr-3">{{$index+1}}.</p>
                <div class="text-[14px]">
                    <p class="text-[#530020]">{{instruction.title}}</p>
                    <p class="text-[#888888]">{{instruction.description}}</p>
                </div>
            </li>
        }
    </ul>
    
    <!--Pesquisa dos helps-->
    <form [formGroup]="form" (change)="onSubmit()" class="h-[64px] flex justify-center">
        <input formControlName="search" type="text" class="w-[798px] h-[64px] border-2 mr-10 rounded-xl"  placeholder="Quem vamos ajudar hoje?">
        <select formControlName="type" class="w-[320px] border-2 rounded-xl" name="" id="">
            <option value="">Escolha uma categoria</option>
            <option value="Jogos">Jogos</option>
            <option value="Saúde">Saúde</option>
            <option value="Hospitalar">Hospitalar</option>
            <option value="Emergência">Emergência</option>
        </select>
    </form>

    <!--Helps Card-->
    <div class="flex justify-center">
        <div class="grid grid-cols-3">
            @for (helpArry of helpArryFilter; track $index) {
                @if(!helpArry.urgent){
                    <app-card [data]="helpArry" (click)="helpPages(helpArry.id)" />
                }@else {
                    <app-card-urgent [data]="helpArry" (click)="helpPages(helpArry.id)"/>
                }
            }
        </div>
    </div>

    <!--Footer-->
    <app-footer/>
</body>
