<div class="flex justify-around">

    <div>

        <img src="assets/logo-h.png" alt="">

        <h1>texto</h1>
        <p>alguma coisa</p>

        <form action="">
            <p>E-mail</p>
            <input type="text">
            <p>Senha</p>
            <input type="text">

            <div class="flex flex-col">
                <button>Entrar</button>
                <button>Continuar com google</button>
            </div>
        </form>

    </div>

    <div class="bg-[url('assets/usuario.jpg')]">
        <p>teste</p>
    </div>


</div>
