<div class="w-full h-full flex flex-col justify-end align-bottom p-[20px] rounded-lg bg-cover  bg-[url('assets/usuario.jpg')] text-white">
    <p class="text-[36px] font-medium">O Helpinho pode mudar a vida de milhões de pessoas todos os dias</p>

    <p class="text-[30px] font-semibold my-[30px]">Amélie Laurent</p>
    
    <div class="flex justify-between">
        <div>
            <p class="text-[18px] font-semibold">Diretora de recursos, ONG</p>
            <p class="text-[16px] font-semibold">Web Development Agency</p>
        </div>
        <div class="flex">
            <div class="w-[56px] h-[56px] mr-[10px] flex justify-center items-center border-2 border-white rounded-full">
                <img class="w-[14px] h-[14px]" src="assets/images-carousel/Icon-carousel1.png" alt="">
            </div>
            <div class="w-[56px] h-[56px] flex justify-center items-center border-2 border-white rounded-full">
                <img class="w-[14px] h-[14px]" src="assets/images-carousel/Icon-carousel2.png" alt="">
            </div>
        </div>
    </div>
</div>
