<div class="flex justify-around items-center p-20 w-full h-screen bg-gradient-to-tl from-[#FF648E]">
            
    <!--Box de texto-->
    <div class="w-[635px] h-[390px] flex flex-col justify-center items-baseline">
        
        <div class="flex justify-between bg-white bg-opacity-50 rounded-xl p-3 text-lg mb-5 w-[498px]">
            <!--Um for para diminuit o código usando um array simples-->
            @for (text of texts; track $index) {
                <div class="flex px-3">
                    <img src="assets/check.png" alt="">
                    <p class="px-1 text-[17px]">{{text}}</p>
                </div>
            }
        </div>

        <div class="text-5xl mb-5">Faça a diferença com apenas <span class="text-[#f40b59]">um helpinho</span></div>
        <div class="text-2xl mb-5">Os helpinho pode parecer pequenos, mas juntos fazem a <span class="text-[#f40b59]">diferença na vida de todos</span></div>
        <a [routerLink]="['/register']" >
            <Button class="text-[#ffc8d6] bg-[#ff2e6b] rounded-lg p-2 ">Registre-se grátis</Button>
        </a>

    </div>

    <!--Box de imagens-->
    <div class="w-1/2 flex justify-evenly items-end">
        <img class="w-[300px] h-[530px] rounded-full" src="assets/modelo_banner1.png" alt="">
        <img class="w-[190px] h-[400px] rounded-full" src="assets/modelo_banner2.png" alt="">
    </div>
</div>